<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pnstech.com.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/team"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/HideAppBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/HideAppBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ForgotPassword"
            android:label="Forgot Password"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ShowToolbar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/HideAppBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashBoard" />
        <activity android:name=".MainLibrary" />
        <activity
            android:name=".About"
            android:theme="@style/HideAppBar" />
        <activity
            android:name=".Profile"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Settings"
            android:label="Settings"
            android:theme="@style/ShowToolbar" />
        <activity
            android:name=".UploadBooks"
            android:label="Upload Books"
            android:parentActivityName=".SendNotification"
            android:theme="@style/ShowToolbar"
            android:windowSoftInputMode="adjustPan" />

        <!--
 <meta-data android:name="com.facebook.sdk.ApplicationId"
     android:value="@string/facebook_app_id"/>

 <activity android:name="com.facebook.FacebookActivity"
     android:configChanges=
         "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
     android:label="@string/app_name" />
 <activity
     android:name="com.facebook.CustomTabActivity"
     android:exported="true">
     <intent-filter>
         <action android:name="android.intent.action.VIEW" />
         <category android:name="android.intent.category.DEFAULT" />
         <category android:name="android.intent.category.BROWSABLE" />
         <data android:scheme="@string/fb_login_protocol_scheme" />
     </intent-filter>
 </activity>
        -->

        <activity
            android:name=".OnBookClick"
            android:label="Library"
            android:theme="@style/ShowToolbar" />
        <activity android:name=".SearchActivity" />
        <activity
            android:name=".Notification"
            android:label="Notifications"
            android:theme="@style/ShowToolbar" />
        <activity
            android:name=".SendNotification"
            android:label="Send Notification"
            android:parentActivityName=".DashBoard"
            android:theme="@style/ShowToolbar" />
        <activity
            android:name=".Donate"
            android:label="Payment Method"
            android:parentActivityName=".Donars"
            android:theme="@style/ShowToolbar" />
        <activity android:name=".Donars" />
        <activity android:name=".AddDoner"
            android:label="Add Doner"
            android:theme="@style/ShowToolbar"
            android:parentActivityName=".SendNotification">

        </activity>
    </application>

</manifest>